#one_pattern_content {
  padding: 40px;
}

.one_pattern_one_word {
  border: 1px solid #bab1b1;
  background: #eee;
  padding: 5px;
}

.one_pattern_one_word ul{
}


.one_pattern_file {
    margin-top: 20px;
    border: 1px solid #bab1b1;
    background: #eee;
    padding: 5px;
}


.one_pattern_file li {
    list-style-type: none;
}

#one_pattern_file_content {
  border: 2px solid;
  margin: 0 60px 30px; 
  padding: 20px 5px;
  background: #fff;
}

#one_pattern_file_content ul {
    margin: 0px;
}

#one_pattern_div legend strong {
  float: right;
  margin-right: 20px;
}

.one_pattern_file_comment {
	background: none repeat scroll 0 0 #EEEEEE;
	padding: 5px;
	border: 1px solid #BAB1B1;
	margin-top: 10px;
	max-width: 592px;
}

.one_pattern_file_comment_item {
   background: none repeat scroll 0 0 #FFFFFF;
   margin-bottom: 15px;
  padding: 3px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
